body {
    display: flex;
    justify-content: center;
    font-family: JetBrains Mono, sans-serif;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}
.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid black;
    width: 90%;
    height: auto;
    min-height: 150px;
    border-radius: 10px;
    margin: 20px 0 10px;
    padding: 10px;
    text-align: right;

}

.topDisplay {
    cursor: default;
    max-width: 95%;
    overflow-wrap: break-word;
    font-size: 20px;
}
.bottomDisplay {
    cursor: default;
    max-width: 95%;
    overflow-wrap: break-word;
    font-size: 40px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}
button {
    margin: 10px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.01s ease;
}
button:hover {
    border: 2px solid black;
    box-shadow: 0 0 2px black;
}
button:active {
    border: 5px solid black;
    scale: 1.05;
}

#clear,
#clearEntry {
    width: 160px;
}

@media (max-width: 450px) {
    .topDisplay {
        font-size: 15px;
    }
    .bottomDisplay {
        font-size: 30px;
    }
}

.crackedScreen {
    background: url(./imgs/crack-31127.png) center;
}