body {
    display: flex;
    justify-content: center;
    font-family: JetBrains Mono, sans-serif;
    background: #f8f2f3;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #343633;
    margin-top: 80px;
    width: 450px;
    border: 1px solid black;
    border-radius: 30px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 15px -5px #000000;
}
.displayContainer {
    background: #cce3de;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid black;
    width: 85%;
    height: auto;
    min-height: 150px;
    border-radius: 30px;
    margin: 40px 0 10px;
    padding: 10px;
    text-align: right;

}

.topDisplay {
    cursor: default;
    max-width: 95%;
    overflow-wrap: break-word;
    font-size: 20px;
}
.bottomDisplay {
    cursor: default;
    max-width: 95%;
    overflow-wrap: break-word;
    font-size: 40px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}
button {
    background: #ffbe0b;
    margin: 10px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 30px;
    transition: all 0.01s ease;
    font-size: 30px;
    font-weight: 500;
}
button:focus {
    outline: none;
}
button:hover {
    border: 2px solid black;
    box-shadow: 0 0 2px black;
}
button:active {
    border: 4px solid black;
    scale: 1.05;
}
.active {
    border: 4px solid black;
    scale: 1.05;
}

#clear,
#clearEntry {
    background: #ff000e;
    width: 170px;
}

#result {
    background: #8ac926;
}

.operator {
    background: #00cecb;
}

#decimalPoint {
    background: #f15bb5;
}

@media (max-width: 450px) {
    .topDisplay {
        font-size: 15px;
    }
    .bottomDisplay {
        font-size: 30px;
    }
}

.crackedScreen {
    background: #cce3de url(./imgs/crack-31127.png) center;
    /* background: #cce3de; */

}